* {
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
    background: rgb(12, 232, 238);
    background: linear-gradient(180deg, rgba(12, 232, 238, 1) 0%, rgba(247, 247, 250, 1) 100%);
    position: relative;
    overflow: hidden;
}

.land {
    background-image: url(land.png);
    width: 100%;
    height: 18%;
    bottom: 0;
    position: absolute;
    animation: land 4s infinite linear
}

.clowd {
    width: 196px;
    height: 99px;
    background-image: url(clowd.png);
    position: relative;
    top: 50px;
    animation: clowd 10s infinite linear;
    transform: translateX(1000%);
}

.second {
    top: 150px;
    animation: clowd 7s infinite linear;
}

@keyframes clowd {
    100% {
        transform: translateX(-100%);
    }

}

@keyframes land {
    100% {
        background-position: -100% 0;
    }
}

.person {
    width: 160px;
    height: 260px;
    background-image: url(sprites.png);
    position: absolute;
    bottom: 106px;
    /* left: -100px; */
    z-index: 1;
    animation: manfr 1s infinite steps(6),
        manX1 12s infinite cubic-bezier(.73, .41, .24, .96);
}

@keyframes manfr {
       100% {
        background-position: -960px 0;
    }
}

/* ////////sync &&&&&&&&&&&&&&&&&///////////////////// */
@keyframes manX1 {
    0% {
        left: -20%;
    }
    50% {
        left: 120% ;
    }
    100% {
        left: -20%;
        transform: rotateY(180deg);
    }
}

.panther {
    width: calc(989px / 2);
    height: calc(963px / 4);
    background-image: url(Image20230720195857.png);
    position: absolute;
    bottom: 70px;
    background-position: calc(-989px / 2) calc(-963px /4 * 3) ;
    background-repeat: no-repeat;
    left: -200%;
    animation: pant 0.5s infinite steps(1),
                pant-run 12s  infinite linear;
}

/* @keyframes pantherx {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 989px;
    }
}

@keyframes panthery {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -969px;
    }
} */
@keyframes pant {
    12.5% {
        background-position:0 0 ;
    } 
    25% {
        background-position:calc(-989px / 2) 0 ;
    }
    37.5% {
        background-position: 0 calc(-963px /4) ;
    }
    50% {
        background-position: calc(-989px / 2) calc(-963px /4) ;
    }
    62.5% {
        background-position: 0 calc(-963px /2) ;
    }
    75% {
        background-position: calc(-989px / 2) calc(-963px /2) ;
    }
    87.5% {
        background-position: 0 calc(-963px /4 * 3) ;
    }
    100% {
        background-position: calc(-989px / 2) calc(-963px /4 * 3) ;
    }
}

@keyframes pant-run {
    0% {
        left: -220%;
    }
    50% {
        left: 170%;
        transform: rotateY(0);
    }
    52% {
        transform: rotateY(180deg);
    }
    98% {
        transform: rotateY(180deg);
    }
    100% {
        left: -220%;
        
    }
}
